{% extends 'layouts/portal.html' %} {% block content %}
<div class="text-gray-800 flex mb-2">
    <span class="material-icons">home</span>
    <p>Home / Settings</p>
</div>
<h2 class="text-4xl font-bold text-2xl mb-4">Gebruikers instellingen</h2>


<div class="flex gap-6">
    <div class="bg-white text-black p-8 w-[30%] h-[20%] rounded-lg shadow border border-gray-200">
        <div class="flex">
            <img class="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0" src="/media/{{ request.user.profile.profile_picture }}">
            <div class="">
                <h2 class="text-2xl font-semibold text-left ml-4 mb-2 ">Profielfoto</h2>
                <p class="text-sm text-gray-500 text-left ml-4 mb-2">Bestand moet een afbleeding zijn. JPG, PNG</p>
                <div class="mb-4">
                    <form method="POST" action="{% url 'upload_profile_picture' %}" enctype="multipart/form-data" class="flex items-center space-x-4">
                        {% csrf_token %}
                        
                        <!-- Upload Button -->
                        <label for="profile_picture" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-blue-600 flex items-center space-x-2">
                            <span class="material-icons">file_upload</span>
                            <span>Upload</span>
                        </label>
                        <input type="file" id="profile_picture" name="profile_picture" accept="image/*" class="hidden">
                    
                        <!-- Save Button -->
                        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-green-600 flex items-center space-x-2">
                            <span class="material-icons">save</span>
                            <span>Save</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white border border-gray-200 text-black p-8 w-[70%] rounded-lg shadow">
        <h2 class="text-2xl font-semibold text-left mb-4">Algemene informatie</h2>

        <form method="POST" action="{% url 'update_bio' %}">
            {% csrf_token %}
            <div class="flex justify-between">
                <div class="mb-4 w-[47%] ">
                    <label for="first_name" class="block text-m font-medium text-black">Voornaam</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name}}" class="bg-gray-50 border border-gray-200 w-full p-2 rounded-lg">
                </div>

                <div class="mb-4 w-[47%] ">
                    <label for="last_name" class="block text-m font-medium text-black">Achternaam</label>
                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="bg-gray-50 border border-gray-200 w-full p-2 rounded-lg">
                </div>
            </div>


            <div class="flex justify-between">
                <div class="mb-4 w-[47%] ">
                    <label for="bio" class="block text-m font-medium text-black">Biografie</label>
                    <textarea id="bio" name="bio" class="bg-gray-50 border border-gray-200 w-full p-2 rounded-lg" rows="4">{{ user.profile.bio }}</textarea>
                </div>
    
                <div class="mb-4 w-[47%] ">
                    <label for="birth_date" class="block text-m font-medium text-black">Geboortedatum</label>
                    <input type="date" id="birth_date" name="birth_date" value="{{ user.profile.birth_date|date:'Y-m-d' }}" class="bg-gray-50 border border-gray-200 w-full p-2 rounded-lg">
                </div>
            </div>
    
            <div class="flex justify-left">
                <button type="submit" class="px-6 py-2 bg-blue-500 font-bold text-white rounded-lg">Opslaan</button>
            </div>
        </form>
    </div>
</div>
<div class="flex mt-8 gap-6">

</div>


{% endblock %}
