{% extends 'layouts/home.html' %}

{% block content %}
<div class="flex justify-center items-center w-full h-full p-4">
  <!-- Login Box -->
  <div class="w-full max-w-md bg-white shadow-md rounded-lg border border-gray-200">
    <div class="w-full h-20 flex justify-center items-center border-b border-gray-200">
      <div class="flex items-center">
        <span class="material-icons text-black">settings_accessibility</span>
        <h2 class="font-bold text-2xl text-black ml-2">PraktijkJobs</h2>
      </div>
    </div>

    <div class="p-6">
      <h2 class="text-3xl font-bold mb-6 text-center">Sign in to platform</h2>

      <form method="POST">
        {% csrf_token %}
        
        <!-- Username Input -->
        <div class="mb-4">
          <label for="username" class="block text-sm font-medium text-black">Je gebruikersnaam:</label>
          <input type="text" id="username" name="username" class="bg-gray-50 border border-gray-200 w-full p-2 rounded-lg" required>
        </div>

        <!-- Password Input -->
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-black">Je wachtwoord:</label>
          <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-200 w-full p-2 rounded-lg" required>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="w-full bg-blue-600 text-white font-bold py-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
          Login to your account
        </button>
      </form>

      {% if messages %}
        <div class="mt-4 text-red-600">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <p class="text-center text-sm mt-4">Niet geregistreerd? <a href="/register/" class="text-blue-600 underline">Klik Hier</a></p>
    </div>
  </div>
</div>
{% endblock %}
