{% extends 'layouts/home.html' %}

{% block content %}
<div class="flex justify-center items-center w-full h-full p-4">
  <!-- Registration Box -->
  <div class="w-full max-w-md bg-white shadow-md rounded-lg border border-gray-200">
    <div class="w-full h-20 flex justify-center items-center border-b border-gray-200">
      <div class="flex items-center">
        <span class="material-icons text-black">settings_accessibility</span>
        <h2 class="font-bold text-2xl text-black ml-2">PraktijkJobs</h2>
      </div>
    </div>

    <div class="p-6">
      <h2 class="text-3xl font-bold mb-6 text-center">Maak je account aan</h2>

      <form method="POST">
        {% csrf_token %}
        
        <!-- Form Fields -->
        <div>
          {% for field in form %}
          <div class="mb-4">
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-black">{{ field.label }}</label>
            <input 
              type="{{ field.field.widget.input_type }}" 
              name="{{ field.name }}" 
              id="{{ field.id_for_label }}" 
              value="{{ field.value|default_if_none:'' }}" 
              {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
              required="{{ field.field.required|yesno:'required,' }}"
              class="bg-gray-50 border border-gray-200 w-full p-2 rounded-lg"
            />
            {% if field.errors %}
            <p class="text-red-600 text-sm mt-1">{{ field.errors }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <!-- Submit Button -->
        <button type="submit" class="w-full bg-blue-600 text-white font-bold py-4 rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:outline-none">
          Maak je account
        </button>
      </form>

      {% if messages %}
        <div class="mt-4 text-red-600">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <p class="text-center text-sm mt-4">Heb je al een account? <a href="/login/" class="text-blue-600 underline">Klik Hier</a></p>
    </div>
  </div>
</div>
{% endblock %}
