<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klussen</title>
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sans.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="relative h-screen w-screen">


    <div class="bg-gray-100 w-[100%] h-[100%] justify-center items-center overflow-auto p-2 flex">
      {% block content %}{% endblock %}
    </div>





  </body>
</html>
