<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">

    <div class="flex flex-col h-screen">

        <!-- Topbar -->
        <header class="bg-white px-4 md:px-6 py-2 border-b border-gray-200 w-full h-[10%]">
            <div class="flex items-center justify-between h-full">
                <div class="flex items-center">
                    <!-- Sidebar toggle button -->
                    <button id="menu-toggle" class="text-gray-700 p-3 md:hidden">
                        <span class="material-icons">menu</span>
                    </button>
                    <span class="material-icons text-black hidden md:block">settings_accessibility</span>
                    <h1 class="text-lg md:text-2xl ml-2 font-bold text-black">PraktijkJobs</h1>
                    <!-- Search Input -->
                    <div class="relative hidden md:block w-48 lg:w-96 ml-6 lg:ml-28">
                        <input type="text" placeholder="Search" class="border border-gray-300 bg-gray-200 text-gray-800 rounded-lg px-4 py-2 w-full pl-10 placeholder-gray-400">
                        <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 material-icons">search</span>
                    </div>
                </div>
    
                <div class="flex items-center space-x-4 sm:space-x-6">
                    <button class="text-gray-500 material-icons">notifications</button>
                    <button class="text-gray-500 material-icons">star</button>
                    <img src="/media/{{ request.user.profile.profile_picture }}" alt="User" class="w-8 h-8 sm:w-12 sm:h-12 rounded-full">
                </div>
            </div>
        </header>
    
        <!-- Main Content Area -->
        <div class="flex flex-1">

            <!-- Sidebar -->
            <aside id="sidebar" class="bg-white border-r border-gray-200 p-2 w-56 md:w-64 lg:w-72 fixed md:relative inset-y-0 left-0 transform -translate-x-full md:translate-x-0 transition-transform duration-300 z-20">
                <div class="flex items-center md:hidden p-4 border-b border-gray-200">
                    <span class="material-icons text-black">settings_accessibility</span>
                    <h1 class="text-lg ml-2 font-bold text-black">PraktijkJobs</h1>
                </div>
                <nav class="">
                    <ul>
                        <a href="/dashboard/" class="flex items-center px-4 md:px-6 py-3 text-gray-900 hover:bg-gray-200 hover:text-black rounded-lg">
                            <span class="material-icons">dashboard</span>
                            <span class="ml-2 md:ml-3 text-sm md:text-lg">Dashboard</span>
                        </a>
                        {% if request.user.profile.permission == 1 %}
                        <a href="/setup/" class="flex items-center px-4 md:px-6 py-3 text-gray-900 hover:bg-gray-200 hover:text-black rounded-lg">
                            <span class="material-icons">check_circle</span>
                            <span class="ml-2 md:ml-3 text-sm md:text-lg">Setup</span>
                        </a>
                        {% endif %}
                        <a href="/settings/" class="flex items-center px-4 md:px-6 py-3 text-gray-900 hover:bg-gray-200 hover:text-black rounded-lg">
                            <span class="material-icons">settings</span>
                            <span class="ml-2 md:ml-3 text-sm md:text-lg">Settings</span>
                        </a>
                    </ul>
                </nav>
            </aside>
    
            <!-- Main Content -->
            <main id="main-content" class="flex-1 bg-gray-100 p-4 overflow-y-auto transition-all duration-300 ml-0">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <!-- Script to toggle sidebar -->
    <script src="{% static 'js/toggleSideBar.js' %}">

    </script>
</body>
</html>
