<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">

    <div class="flex flex-col min-h-screen">

<!-- Topbar -->
<header class="bg-white px-6 py-4 border-b border-gray-200 w-full fixed top-0 left-0 z-20">
    <div class="flex items-center justify-between">
        <div class="flex items-center">

            <span class="material-symbols-outlined material-icons text-black">
                settings_accessibility
            </span>
            <h1 class="text-2xl ml-2 font-bold text-black">PraktijkJobs</h1>

            <div class="relative w-96 ml-28">
                <input type="text" placeholder="Search" class="border border-gray-300 bg-gray-200 text-gray-800 rounded-lg px-4 py-3 w-full pl-10 placeholder-gray-400">
                <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 material-icons">search</span>
            </div>
        </div>

        <div class="flex items-center space-x-6">
            <button class="text-gray-500 material-icons">notifications</button>
            <button class="text-gray-500 material-icons">star</button>
            <img src="/media/{{ request.user.profile.profile_picture }}" alt="User" class="w-12 h-12 rounded-full">
        </div>
    </div>
</header>

<div class="flex flex-1 pt-16">

    <!-- Sidebar -->
    <aside class="bg-white border-r border-gray-200 p-2 fixed top-0 left-0 bottom-0 w-72 z-10">

        <!-- Navigation -->
        <nav class="mt-28">
            <ul>
                <a href="/dashboard/" class="flex items-center px-6 py-3 text-gray-900 hover:bg-gray-200 hover:text-black rounded-lg">
                    <span class="material-icons">dashboard</span>
                    <span class="ml-3 text-lg">Dashboard</span>
                </a>
                <a class="flex items-center px-6 py-3 text-gray-900 hover:bg-gray-200 hover:text-black rounded-lg">
                    <span class="material-icons">view_quilt</span>
                    <span class="ml-3 text-lg">Layouts</span>
                </a>
                <a class="flex items-center px-6 py-3 text-gray-900 hover:bg-gray-200 hover:text-black rounded-lg">
                    <span class="material-icons">table_chart</span>
                    <span class="ml-3 text-lg">CRUD</span>
                </a>
                <a href="/settings/" class="flex items-center px-6 py-3 text-gray-900 hover:bg-gray-200 hover:text-black rounded-lg">
                    <span class="material-icons">settings</span>
                    <span class="ml-3 text-lg">Settings</span>
                </a>
            </ul>
        </nav>
        <div class="w-full h-[65%] justify-center  items-end flex">
            <div class="w-[100%] h-[10%] flex border-t border-gray-300 justify-center ">
                <div class="w-[50%] h-full flex justify-between  items-center">
                    <span class="material-symbols-outlined material-icons text-black">
                        settings
                    </span>
                    <span class="material-symbols-outlined material-icons text-black">
                        home
                    </span>
                    <span class="material-symbols-outlined material-icons text-black">
                        apps
                    </span>
                </div>
            </div>
        </div>
    </aside>


            <!-- Main Content -->
            <div class="flex-1 ml-72 pt-8 overflow-y-auto">                
                <main class="px-6">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </div>

</body>
</html>
